<h2><%= @help_request.subject %></h2>

<ul>
  <li>Description: <%= @help_request.description %></li>
  <li>Searched: <%= @help_request.searched %></li>
  <li>Problem: <%= @help_request.problem %></li>
  <li>Assigned to: <%= @help_request.assigned_to %></li>
  <li>State: <%= @help_request.state %></li>
</ul>

<h3>Comments</h3>

<ol>
  <% @help_request.comments.each do |c| %>
    <li><%= c.body %></li>
  <% end %>
</ol>

<h3>Submit a Comment</h3>

<%= form_for [@help_request, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <p>There were errors with your submission:</p>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>

<% end %>

<a href="/help_requests/">Back to Help Requests</a>
