<h2><%= @help_request.subject %></h2>

<ul>
  <li>Description: <%= @help_request.description %></li>
  <li>Searched: <%= @help_request.searched %></li>
  <li>Problem: <%= @help_request.problem %></li>
  <li>Assigned to: <%= @help_request.assigned_to %></li>
  <li>State: <%= @help_request.state %></li>
</ul>
